body{
     color: greenyellow;
     background: maroon;
     margin: 10px;
     font-family: "indie flower", cursive;
     margin-bottom: 100px;
}

header{
   border-bottom: solid 1px rgb(33, 32, 37);
   padding: 20px;
   font-size: 30px;
   color: black;
}

 .chamada{
     background: mediumseagreen;
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 35px;
}
img{
    height: 200px;
}
.categoria-videos{
     display: flex;
     overflow-x: auto;
     gap: 10;
}
.separar-link{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    background: greenyellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}
.categoria-videos img:hover{
    opacity:1.0;
    border: 2px black;
}
.categoria h1{
    color:white
}